/** CSS STYLE **/

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}
 
/* Remove default padding */
ul[class],
ol[class] {
  padding: 0;
}
 
/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}
 
/* Set core body defaults */
body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}
 
/* Remove list styles on ul, ol elements with a class attribute */
ul[class],
ol[class] {
  list-style: none;
}
 
/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}
 
/* Make images easier to work with */
img {
  max-width: 100%;
  display: block;
}
 
/* Natural flow and rhythm in articles by default */
article > * + * {
  margin-top: 1em;
}
 
/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}
 
/* Remove all animations and transitions for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

/* Шапка */

header {
    display: flex;
    background-color: #FFF;
    justify-content: space-between;
    position: fixed;
    width: 100%;
    height:100px;
}

.left-header-block,
.right-header-block {
    display: flex;
}

.header-content-block a {
    color: #FFF;
    padding: 10px 30px;
    border-radius: 4px;
    border: 0.5px solid #FFF;
    background-color: transparent;
    text-decoration: none;
}

    .left-header-block {
        margin-left: 20px;
        justify-content: center;
        align-items: center;
    }

        .left-header-block img {
            width:50px;
            height:50px;
            margin-right:20px;
        }

    .right-header-block {
        margin-right:20px;
        justify-content: center;
        align-items: center;
    }
        .right-header-block ul {
            display: flex;
        }
            .right-header-block ul li {
                margin-right: 20px;
                list-style: none;
                
            }
                .right-header-block ul li a {
                    text-decoration: none;
                    color: #000;
                }

/* контент часть 1 блок с картинкой */

main {
    display: flex;
    padding-top: 100px;
    flex-direction: column;
}
    .header-content-block {
        display: flex;
        background-image: url(../images/banner.png);
        align-items: center;
        justify-content: center;
        flex-direction: column;
        background-position: center;
        padding: 30px 0px;
        color: #FFF;
    }

    .header-content-block img {
        width: 150px;
        height: 150px;
    }

    .header-content-block h1 {
        font-size: 48px;
    }

    .header-content-block p {
        margin-bottom:15px;
    }

    .header-content-block button {
        background-color: transparent;
        border-radius: 4px;
        color: #FFF;
        border: 0.5px solid #FFF;
        padding: 5px 20px;
    }

/* вторая часть с тремя блоками информации */

.first-content-block,
.second-content-block,
.third-content-block {
    display: flex;
    padding: 50px;
    justify-content: space-between;
}

.center-position-content,
.center-position-content-second,
.center-position-content-third {
    width:1000px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}
    .center-position-content div {
        width: 30%;
    }

    .main-h-header {
        margin-bottom: 20px;
    }

.second-content-block {
    background-color: #ececec;
        
}   

.center-position-content-second div:nth-child(1) {
    width: 50%;
}
.center-position-content-second div:nth-child(2) {
    width: 30%;
}
.center-position-content-third div:nth-child(2) {
    width: 50%;
}
.center-position-content-third div:nth-child(1) {
    width: 30%;
}

.call-back-block {
    display: flex;
    padding: 50px;
    justify-content: center;
    align-items: center;
    background-color: #ececec;

}

/* форма заявки */

form {
    width: 400px;
    
}

fieldset {
    padding: 20px 30px;
    margin-bottom: 20px;
}

legend {
    font-size:20px;
    color: #66CDAA
}

.form-string {
    display: flex;
    margin-bottom: 10px;

}

label, input, select {
    width:50%;
    display: flex;
}

.input-width50-margin20 {
    width: 40%;
}

button {
    font-size:20px;
    color: #66CDAA;
    border-radius: 4px;
    border: 0.5px solid #66CDAA;
    padding: 0px 30px;
}

/* подвал */

footer {
    display: flex;
    padding: 50px;
    justify-content: center;
    align-items: center;
    background-color: #1c2c35;
    color: #fff;
    font-size: 14px;
    
}

.center-position-content-footer {
    width: 1000px;
    display: flex;
    
}

.footer-info-block1,
.footer-info-block2,
.footer-info-block3 {
    width: 33.3%;
    display: flex;
}

.footer-info-block1 {
    flex-direction: column;
}

.footer-info-block2 {
    flex-direction: row;
    justify-content: center;
}

.footer-info-block3 {
    flex-direction: row;
    justify-content: flex-end;
}

.footer-info-block1 img {
    width: 30px;
    height: 30px;
    margin: 0px 10px 0px 0px;

}

.footer-info-block1 div:nth-child(1) {
    display: flex;
    align-items: center;
}

.footer-copy {
    margin-top: 10px;
    color: gray;
}

.footer-text-header {
    font-size: 20px;
}
