/** CSS STYLE **/

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}
 
/* Remove default padding */
ul[class],
ol[class] {
  padding: 0;
}
 
/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}
 
/* Set core body defaults */
body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}
 
/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}
 
/* Make images easier to work with */
img {
  max-width: 100%;
  display: block;
}
 
/* Natural flow and rhythm in articles by default */
article > * + * {
  margin-top: 1em;
}
 
/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}
 
/* Remove all animations and transitions for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

/******************************** Общие классы ********************************/

/**** позиционирование ****/

.position--fixed {
    position: fixed;
}

/* flex */

.display--flex {
    display: flex;
}

.flex-direction--row {
    flex-direction: row;
}

.flex-direction--column {
    flex-direction: column;
}

.justify-content--space-between {
    justify-content: space-between;
}

.justify-content--flex-end {
    justify-content: flex-end;
}

.justify-content--center {
    justify-content: center;
}

.align-items--center {
    align-items: center;
}

/* Ширина/высота */

.width--100p {
    width: 100%;
}

.width--70p {
    width: 70%;
}

.width--50p {
    width: 50%;
}

.width--40p {
    width: 40%;
}

.width--33p {
    width: 33.3%;
}

.width--30p {
    width: 30%;
}

.width--50px {
    width: 50px;
}

.height--100p {
    height: 100%;
}

.height--50px {
    height: 50px;
}

/**** Отступы ****/

.padding--50px {
    padding: 50px;
}

.padding-top--100px {
    padding-top: 100px;
}

.margin--0--auto {
    margin: 0 auto;
}

.margin-left--20px {
    margin-left: 20px;
}

.margin-right--20px {
    margin-right: 20px;
}

.margin-bottom--15px {
    margin-bottom: 15px;
}

.margin-bottom--20px {
    margin-bottom: 20px;
}

/**** Цвета ****/

.color--black {
    color: #000;
}

.b-color--gray {
    background-color: #ececec;
}
/**** Оформление ****/

.list-style--none {
    list-style: none;
}

.text-decoration--none {
    text-decoration: none;
}

/**** Размеры ****/

.font-size--48px {
    font-size: 48px;
}

.font-size--20px {
    font-size: 20px;
}

/**** Выравнивание ****/

.text-align--center {
    text-align: center;
}
/******************************** окончание общих стилей ********************************/

/******************************** Стандартные блоки ********************************/
.container {
    width: 1000px;
    margin: 0 auto;
}

.button {
    padding: 5px 30px;
    font-size: 16px;
    background-color: transparent;
    border-radius: 4px;
    font-weight: bold;
    border-width: 0.5px;
    border-style: solid;
}

.header__white__btn {
    color: #fff;
    border-color: #FFF;
}

.forma__green__btn {
    color: #66CDAA;
    border-color: #66CDAA;
}

/* шрифт */

body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
}

a {
    color: inherit;
}
/* Шапка */

.fixed-header {
    display: flex;
    background-color: #FFF;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    width: 100%;
    height: 100px;
    padding: 0px 20px;
    top: 0px;
    left: 0px;
}

.header-content-block a {
    color: #FFF;
    padding: 10px 30px;
    border-radius: 4px;
    border: 0.5px solid #FFF;
    background-color: transparent;
    text-decoration: none;
}

/* контент часть 1 блок с картинкой */
.header-content-block {
        background-image: url(../images/banner.png);
        background-position: center;
        padding: 30px 0px;
        color: #FFF;
    }

    .header-content-block img {
        width: 150px;
        height: 150px;
        margin: 0 auto;
    }

/* вторая часть с тремя блоками информации */

.call-back-block h2 {
    font-size:30px;
    margin: 30px 0px;
}
/* форма заявки */

form {
    width: 400px;
    margin: 0 auto;
}

fieldset {
    padding: 15px 20px;
    margin-bottom: 20px;
    font-weight: bold;
}

legend {
    font-size:24px;
    color: #66CDAA;
    font-weight: bold;
}

.form-string {
    display: flex;
    margin-bottom: 10px;
}

label, input, select {
    width: 50%;
    display: flex;
    border-radius: 10px;
}
    input, select {
        font-weight: normal;
        padding:5px 15px;
        border: 1px solid #66CDAA;
    }

/* подвал */

footer {
    padding: 50px;
    justify-content: center;
    background-color: #1c2c35;
    color: #fff;
    font-size: 14px;
}

.center-position-content-footer {
    width: 1000px;
}

.footer-img {
    width: 30px;
    height: 30px;
    margin: 0px 10px 0px 0px;

}

.footer-copy {
    margin-top: 10px;
    color: gray;
}
